@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Eq_it-na_pizza-margherita_sep2005_sml.jpg" alt="Pizza1">
        <div class="card-body">
            <h5 class="card-title">Margherita con bufala</h5>
            <p class="card-text">
                Pizza classica con bufala 100&#37; italiana
            </p>
            <h6>4,00&euro;</h6>
        </div>
    </div>

    <div class="card">
        <img src="https://assets.afcdn.com/recipe/20210514/120317_w640h486c1cx1060cy707cxb2121cyb1414.webp" alt="Pizza2">
        <div class="card-body">
            <h5 class="card-title">Prosciutto e funghi</h5>
            <p class="card-text">Pizza margherita con prosciutto e funghi</p>
            <h6>6,00&euro;</h6>
        </div>
    </div>

    <div class="card">
        <img src="https://images.ctfassets.net/nw5k25xfqsik/64VwvKFqxMWQORE10Tn8pY/200c0538099dc4d1cf62fd07ce59c2af/20220211142754-margherita-9920.jpg?w=1024" alt="Pizza3">
        <div class="card-body">
            <h5 class="card-title">Pizza margherita semplice</h5>
            <p class="card-text">Pizza con margherita classica</p>
            <h6>3,50&euro;</h6>
        </div>
    </div>
</div>